<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分享</title>
</head>
<body>
<p>share to your friends</p>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    wx.config({
            debug: false, //调式模式，设置为ture后会直接在网页上弹出调试信息，用于排查问题
            appId: '',
            timestamp:"",
            nonceStr: '',
            signature: '',
            jsApiList: [ //需要使用的网页服务接口
//                'checkJsApi', //判断当前客户端版本是否支持指定JS接口
//                'onMenuShareTimeline', //分享给朋友圈
                'onMenuShareAppMessage', //分享到好友
//                'onMenuShareQQ', //分享到QQ
//                'onMenuShareWeibo',//分享到微博 '
            ]
        });
    wx.ready(function () {
        //ready函数用于调用API，如果你的网页在加载后就需要自定义分享和回调功能，需要在此调用分享函数。
        // 如果是微信游戏结束后，需要点击按钮触发得到分值后分享，这里就不需要调用API了，可以在按钮上绑定事件直接调用。
        // 因此，微信游戏由于大多需要用户先触发获取分值，此处请不要填写如下所示的分享API
        wx.onMenuShareAppMessage({
            //例如分享到朋友圈的API
            title: '分享标题', // 分享标题
            desc: '分享描述', // 分享描述
            link: 'www.baidu.com', // 分享链接
            imgUrl: '', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                console.log("share sucess");
            },
            cancel: function () { // 用户取消分享后执行的回调函数
            }
        });
    });
    wx.error(function (res) {
        alert(res.errMsg); //打印错误消息。及把 debug:false,设置为debug:ture就可以直接在网页上看到弹出的错误提示
    });
</script>
<br/>
</html>