<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgp.mapper.ConfigMapper" >
  <resultMap id="BaseResultMap" type="com.lgp.domain.Config" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="default_collect_type" property="defaultCollectType" jdbcType="VARCHAR" />
    <result column="default_favorties" property="defaultFavorties" jdbcType="VARCHAR" />
    <result column="default_model" property="defaultModel" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_time, default_collect_type, default_favorties, default_model, last_modify_time, 
    user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lgp.domain.ConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lgp.domain.ConfigExample" >
    delete from config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lgp.domain.Config" >
    insert into config (id, create_time, default_collect_type, 
      default_favorties, default_model, last_modify_time, 
      user_id)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{defaultCollectType,jdbcType=VARCHAR}, 
      #{defaultFavorties,jdbcType=VARCHAR}, #{defaultModel,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lgp.domain.Config" >
    insert into config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="defaultCollectType != null" >
        default_collect_type,
      </if>
      <if test="defaultFavorties != null" >
        default_favorties,
      </if>
      <if test="defaultModel != null" >
        default_model,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="defaultCollectType != null" >
        #{defaultCollectType,jdbcType=VARCHAR},
      </if>
      <if test="defaultFavorties != null" >
        #{defaultFavorties,jdbcType=VARCHAR},
      </if>
      <if test="defaultModel != null" >
        #{defaultModel,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lgp.domain.ConfigExample" resultType="java.lang.Integer" >
    select count(*) from config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.defaultCollectType != null" >
        default_collect_type = #{record.defaultCollectType,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultFavorties != null" >
        default_favorties = #{record.defaultFavorties,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultModel != null" >
        default_model = #{record.defaultModel,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyTime != null" >
        last_modify_time = #{record.lastModifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update config
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      default_collect_type = #{record.defaultCollectType,jdbcType=VARCHAR},
      default_favorties = #{record.defaultFavorties,jdbcType=VARCHAR},
      default_model = #{record.defaultModel,jdbcType=VARCHAR},
      last_modify_time = #{record.lastModifyTime,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lgp.domain.Config" >
    update config
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="defaultCollectType != null" >
        default_collect_type = #{defaultCollectType,jdbcType=VARCHAR},
      </if>
      <if test="defaultFavorties != null" >
        default_favorties = #{defaultFavorties,jdbcType=VARCHAR},
      </if>
      <if test="defaultModel != null" >
        default_model = #{defaultModel,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lgp.domain.Config" >
    update config
    set create_time = #{createTime,jdbcType=BIGINT},
      default_collect_type = #{defaultCollectType,jdbcType=VARCHAR},
      default_favorties = #{defaultFavorties,jdbcType=VARCHAR},
      default_model = #{defaultModel,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>